<ul> <h2>{{question.description }}</h2>

{% for choice in question.choice_set.all %}
    <li>{{choice.description}}</li><br></br>
{% endfor %}
</ul>
<a href='/polls/vote/{{question.id}}'>Vote</a> 
<a href='/polls/result/{{question.id}}'>Result</a>