<form action="/polls/main" method="get" id="search">
    <label for="search">Search:</label>
    <input type="text" name="Search" id="Search">
    <input type="submit" value="Search">
</form>
<ul>
{% for question in questions %}
    <li><a href="{{question.0}}"><h4> {{question.0}}: {{question.1}} </h4></a><br></br></li>
{% endfor %}
</ul>